<div class="todo" [class.completed]="todo.completed">
  <label class="todo__status-label">
    <input
      type="checkbox"
      class="todo__status"
      checked="{{ todo.completed }}"
      [(ngModel)]="todo.completed"
    />
  </label>

  @if (editing) {
    <form>
      <input
        #titlefield
        type="text"
        class="todo__title-field"
        placeholder="Empty todo will be deleted"
        name="title"
        value="Todo is being edited now"
        [(ngModel)]="todo.title"
        (mouseenter)="titlefield.focus()"
        (keyup.escape)="editing = false"
      />
    </form>
  } @else {
    <span class="todo__title" (dblclick)="editing = true">{{ todo.title }}</span>
    <button class="todo__remove" (click)="delete.emit()">x</button>
  }

  <!-- <div class="modal overlay">
    <div class="modal-background has-background-white-ter"></div>
    <div class="loader"></div>
  </div> -->
</div>
